html {

}

.polyremovebutton {
    float: left;
    margin-left: 1rem;
    background-color: black;
    color: #F00;
    border-style: none;
    cursor: pointer;
    padding: 1px 3px 1px 3px;
}

.polyremovebutton:hover {
    background-color: #AAA;
    border-style: solid;
    border-width: 1px;
    border-color: #FFF;
}

.polyremovebutton:active {
    background-color: #FFF;
    color: black;
    outline-color: #F00;
}


body {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 12px;
    background-color: #555;
    color: #FFF;
}

.polyentry {
    float: left;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1px;
    padding-bottom: 1px;
}

.polyentry:hover {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.box {
    float: left;
    margin-left: 1rem;
    padding: 1px 1px 1px 1px;
    background-color: rgba(0,0,0, 0.5);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.5);
}

.wrapper {
    position: absolute;
    top: 1%;
    bottom: 1%;
    right: 1%;
    left: 1%;
}

.colorpicker {
    margin-left: 1rem;
    margin-top: 1rem;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #555;
    border-style: solid;
    border-color: rgb(255, 255, 255, 0.5);
    border-width: 1px;
    cursor: pointer;
}

.colorpickerdialog {
    position: relative;
    padding: 2rem 2rem 2rem 2rem;
    margin: auto;
    top: 10%;
    height: 60%;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.3);
    border-color: rgba(255, 255, 255, 0.5);
    border-style: solid;
    border-width: 1px;
    overflow-y: scroll;
}

#overlay {
    position: absolute; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#overlayexitbutton {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 2;
}

.lbox {
    background-color: rgba(0, 0, 0, 0.3);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.2);
}

#colorbox {
    margin: 0 0 1% 0;
    padding: 1% 1% 1% 1%;
    height: 30%;
}

#polylist {
    margin: 0 0 1% 0;
    padding: 1% 1% 1% 1%;
    overflow-y: scroll;
    height: 30%;
}

#menubox {
    float: right;
    clear: right;
    width: 20%;
    height: 90%;
    font-size: 1rem;
}

#databox {
    float: left;
    margin-top: 1%;
}

#picturebox {
    float: left;
    background-color: #FFF;
    width: 75%;
    height: 90%;
    cursor: crosshair;
}

