html {

}

body {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 12px;
    background-color: #555;
    color: white;
}

.box {
    float: left;
    margin-left: 1rem;
    padding: 2px 2px 2px 2px;
    background-color: rgba(0,0,0, 0.5);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.5);
}

.wrapper {
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    right: 1rem;
    left: 1rem;
}

/*<div id="polylist" class="lbox"></div>*/
.lbox {
    background-color: rgba(0, 0, 0, 0.3);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.2);
}

#polylist {
    margin: 0 0 0 0;
    top: 1rem;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    overflow-y: scroll;
    height: 200px;
}

#menubox {
    float: right;
    clear: right;
    width: 20%;
    height: 90%;
}

#databox {
    float: left;
    margin-top: 1rem;
}

#picturebox {
    float: left;
    background-color: white;
    width: 75%;
    height: 90%;
    cursor: none;
}